
#return{
    
    margin: auto;
    padding-top: 10px;
    text-decoration: none;
    font: 16px Verdana;
    padding: 10px;
      background: #5F9EA0;
    color: white;
    border-bottom: 8px solid transparent;
    -webkit-transition: border-bottom .7s;
    
    
}
a:hover{
    border-bottom: 8px solid #d19523;
}
#busqueda{
     width: 100%;
    background: #5F9EA0;
    color: white;
    -webkit-box-shadow: 1px 1px 5px #000;
    box-shadow: 1px 1px 5px #000;
    height: 80px;

}